.addressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border: #555 solid 1px;
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
}
.addressHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: #555 solid 1px;
}

.addressListContainer {
  width: 100%;
}
.addressListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.addContactContainer {
  height: 150vh;
  width: 205vw;
  position: fixed;
  top:0;
  left: 0;
  background-color: #00000080;
}


.addContactCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.createshipmentTriggerButton {
padding: 25px;
background-color: #e6852b;
color: #000;
font-size: 15px;
border-radius: 15px;  
}

.createshipmentTriggerButton:hover{
  background-color: #d57b05;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  color: red;
}
.addContactForm {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin-top: 1rem;
  height: 200px;
  padding-bottom: 1rem;
}
.addContactForm input {
  margin-bottom: 1.8rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: #555 solid 1px;
  width: 400px;
  font-size: 16px;
}

.addContactForm select{
  margin-bottom: 1.8rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: #555 solid 1px;
  width: 400px;
  font-size: 16px;
}


.addContactButton {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  margin: 1rem !important;
  cursor: pointer !important;
}

.contactCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #131313;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
}
.contactCardInfo p {
  font-size: 0.75rem;
}
.removeContactButton {
  min-width: 32px !important;
  min-height: 24px !important;
  cursor: pointer !important;
  padding: 0.5rem !important;
  border-radius: 5px !important;
  background-color: lightcoral !important;
  color: #fff !important;
  border: none !important;
  margin-left: 1rem !important;
}

.navibar{
  background-color: rgb(58, 57, 57);
  padding: 10px;
}

.courousal{
  opacity: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.textanimation{
  animation: fadeIn 2s ease-in-out;
  display: flex;
  flex-direction: column;

  margin-top: 60px;
  width: 100%;
  
}

@keyframes fadeInReverse {
  from {
    opacity: 0;
    transform: translateX(75%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.formbutton{
  animation: fadeInReverse 2s ease-in-out;
  bottom: 50px;
  padding: 8px;
  display: flex; 
  justify-content: center;
  margin-top:10px;
}
